In [2]:
# import osmnx
import pandas as pd
import geopandas as gpd

In [ ]:
gpd.read_file()

In [9]:
venues = pd.read_csv('../data/tables/nyc_2018_r_3_2_20.csv')

In [11]:
venues.columns

Index(['Unnamed: 0', 'gmap_url', 'id', 'Name', 'Street', 'Zip', 'District',
       'City', 'coords', 'Contact.person', 'E.Mail', 'Telephone', 'Status',
       'venueType_club', 'Disco..not.relevant.', 'venueType_openair',
       'venueType_live', 'venueType_theater', 'venueType_music.bar',
       'venueType_gallery', 'Event.location', 'Size', 'events_per_month',
       'pedestrianFrequency', 'eroeffnet.seit', 'yearsInOperation', 'webpage',
       'facebookFans', 'Reputation.Facebook', 'facebook.Link',
       'twitterFollowers', 'Twitter..Account', 'Reputation.Twitter',
       'instagramFollowers', 'instagramAccount', 'Reputation.Instagram',
       'Reputation.Sum', 'Info', 'Owner..not.relevant.', 'designOfSpace',
       'promotingEvents', 'popularityOfArtists', 'creativeOutput',
       'experimentationAndDiversity', 'Population...number.of.venues',
       'X24h.licences', 'Events.in.public.space', 'Public.fundings',
       'Accessability', 'uniqueID', 'obs', 'lat', 'lon', 'latitude',
       'longitude', 'pedestrianFrequency_N', 'designOfSpace_N',
       'promotingEvents_N', 'Size_N', 'yearsInOperation_N',
       'popularityOfArtists_N', 'creativeOutput_N',
       'experimentationAndDiversity_N'],
      dtype='object')

In [10]:
venues.head()

,Unnamed: 0,gmap_url,id,Name,Street,Zip,District,City,coords,Contact.person,...,latitude,longitude,pedestrianFrequency_N,designOfSpace_N,promotingEvents_N,Size_N,yearsInOperation_N,popularityOfArtists_N,creativeOutput_N,experimentationAndDiversity_N
0,1,NaN,1,983,983 Flushing Avenue,11206,Brooklyn,New York,"40.7031, -73.9334","Owners: Darin Rubell, Mark Trzupek",...,40.703100,-73.933400,2.0,2,3,3.0,NaN,2,3,2
1,2,NaN,2,1 OAK,453 West 17Th Street New York,10011,Manhattan,New York,"40.743995,-74.006194",NaN,...,40.743995,-74.006194,2.0,1,2,3.0,2.0,3,2,1
2,3,NaN,3,1040 Metropolitan,1040 Metropolitan Ave,11211,Brooklyn,New York,"40.714231,-73.934698","Kari Conte, Director of Programs and Exhibitions",...,40.714231,-73.934698,2.0,4,3,4.0,2.0,2,4,4
3,4,NaN,4,1896 Studio & Stages,215 Ingraham St,11237,Brooklyn,New York,"40.708695,-73.924704",NaN,...,40.708695,-73.924704,2.0,4,2,4.0,NaN,4,3,2
4,5,NaN,5,23 Windows,41 Belvidere St,11206,Brooklyn,New York,"40.6993379,-73.93643810000003",NaN,...,40.699338,-73.936438,2.0,4,4,4.0,NaN,3,4,4